{% extends "base.html" %} {% block content %}
<div class="card-wrapper">
  <div class="card">
    <div class="container">
      <form name="login" action="" method="post" novalidate>
        <fieldset class="form-group">
          <h1 class="center">{{title}}</h1>
          {{ form.hidden_tag() }} {{ form.csrf_token }}
          <p>
            {{ form.email.label(class = 'label') }} {{ form.email(class =
            'field') }}
          </p>
          <p>
            {{ form.number_n.label(class = 'label') }} {{ form.number_n(class =
            'field') }}
          </p>

          <p>
            {{ form.password.label(class = 'label') }} {{ form.password(class =
            'field') }}
          </p>
          <p>
            {{ form.password_confirm.label(class = 'label') }} {{
            form.password_confirm(class = 'field') }}
          </p>

          <!-- <input type="button" value="{{title}}" class="btn" /> -->
          {{ form.submit() }}
        </fieldset>
      </form>
    </div>
  </div>
</div>
{% endblock %}
